#soutiens{
    width: 100%;
    height: 150vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#titreSoutien{
    height: auto;
    width: auto;
}

#titreSoutien > h2{
    margin-top: -45%;
    font-size: 2.5rem;
    line-height: 48px;
    color: #424345;
    font-family: 'Montserrat';
    font-weight: 700;
}

#personSoutenant{
    margin-top: -6%;
    width: 85%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#personSoutenant > figure {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.personSoutenantFigureClass{
    margin-top: -.8%;
}

#personSoutenant > figure > img {
    border-radius: 16px;
    margin-bottom: 5%;
}

#personSoutenant > figure > figcaption {
   
    color: #424345;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'MontserratLight';
}

#personSoutenant > figure > figcaption > span {
    font-weight: 700;
}


#twitComment{
    margin-bottom: -14%;
    width: 85%;
    height: 45%;
    display: flex;
    justify-content: space-between;
   
}

#twitComment > article {
    width: 23%;
    height: auto;
    
}



footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

section#formulaireDeContact{
    width: 100%;
    height: 150vh;
    background-color: #1d1c26;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

section#formulaireDeContact > form {
    margin-top: 5%;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

#titreFormulaire{
    width: auto;
    height: auto;
    position: absolute;
    top: 1%;
}

#titreFormulaire > h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Montserrat';
}

#lienPreInsciption{
    width: auto;
    height: auto;
    position: absolute;
    top: 15%;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255);
    font-family: 'Montserrat';

}

#lienPreInsciption > a {
    color: #d92950;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Montserrat';

    border-bottom: #d9294f00 1px solid;
    width: 0;
    transition: width 2s ease-in;

}

#lienPreInsciption > a:hover{
    border-bottom: #d92950 1px solid;
    width: 100%;
}

#allForm{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#allForm > #allFormFirstPart{
    width: 100%;
    height: 50%;
    display: flex ;
    justify-content: space-between;
}

#allForm > #allFormFirstPart > div {
    width: 48.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#allForm > #allFormFirstPart > div > div {
 
    width: 100%;
    height: 13%;
}


#allForm > #allFormFirstPart > div > div > input,
#allForm > #allFormFirstPart > div > div > select {
    
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-style: none;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color:#2c2e30;
    padding-left: 2%;
    padding-top: .8%;
    font-family: 'MontserratLight';
}
#allForm > #allFormFirstPart > div > div > select {
    
    appearance: none;
    background-image: url("../file/sort-solid.svg");
    background-size: 1.5%;
    padding-right: 2%;
    background-repeat: no-repeat;
    background-position: 98%;
    
}

#allForm > div > div > h5 {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Roboto';
}

#noneDisplay{
    display: none;
}


#typeDemande{
    width: 100%;
    height: 30%;
    display: flex ;
    flex-direction: column;
    margin-top: -2%;
}




#typeDemande > h5 {
    margin-bottom: 0.65%;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'MontserratLight';
}



#typeDemande > #optionActivity{
    width: 100%;
    height: 40% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#typeDemande > #idDeDemande  {
    margin-top: 2%;
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





#typeDemande >div > select {
    -webkit-appearance: none;
    background-image: url("../file/sort-solid.svg");
    background-size: .8%;
    padding: 2%;
    background-repeat: no-repeat;
    background-position: 98%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #495057;
    padding-left: .5%;
    padding-top: .9%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#typeDemande >div > textarea {
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: 98%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-style: none;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
   
    color: #495057;
    padding-left: .9%;
    padding-top: 2%;
    padding-bottom: 3.219%;
   font-family: 'MontserratLight';

}

#typeDemande >div >h5 {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'MontserratLight';
}

#noneDisplay{
    display: none;
}


#idDeDemande{
    height: 170%;
}

select#demande{
    height: 90% !important;
}


#detailsForm{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#detailsForm > p {
    display: flex;
    flex-direction: column;
    width: auto;
    font-family: 'MontserratLight';
    font-size: 1rem;
}

#detailsForm > p > a {
    color: #ffffff;
    width: 6.8%;
    position: relative;
    font-family: 'MontserratLight';
}

#detailsForm > p > a > span {
    width: 100%;
    color: #d92950;
    position: relative;
}

#detailsForm > p > a::after {
    position: absolute;
    bottom: -20%;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 2.5px solid #d92950;
    display: none;
}


#detailsForm > p > a:hover::after {
    display: block;
    position: absolute;
    bottom: -20%;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 2.5px solid #d92950;
}

#buttonForm{
    margin-bottom: -8%;
    width: 10%;
    height: 8%;
    border-style: none;

}

#buttonForm > button{
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: #d92950;
    border-style: none;
    border-radius: 12px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonForm > button:hover{
    background-color: #1d1c26;
    border: 2px solid #d92950;
}