
section#EmploisDRC{
    width: 100%;
    height: 120vh;
    background-color: #f2eff3;
    display: flex ;
    align-items: center;
    justify-content: space-around;
    
    
}

article#createurEmplois{
    width: 40%;
    height: 70%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#listingAction{
    width: 42%;
    height: 80%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

#titreEmploisRdc{
    width: 100%;
    height: auto;
    font-family: 'Montserrat';
    font-size: 2.48rem;
    font-weight: 700;
    line-height: 48px;
    color: #424345;
    margin-top: -7%;
}

#titreEmploisRdc > span {
    color: #d92950;
    
}

article#createurEmplois > p{
    font-family: 'MontserratLight';
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #424345;
}

article#createurEmplois > div{
    width: 100%;
    margin-bottom: 15%;
    height: 35%;
}

article#createurEmplois > div > img{
    width: 100%;
    height: 100%;
}

#listingAction > div{
    height: 100%;
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#listingAction > div > div{
    width: 95%;
    height: 44.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 16px;
    padding-top: 8%;
    padding-left: 8%;
    
}
#EmploisDRC:hover > #listingAction > div > div:nth-child(1){
    animation: listingAction1;
    animation-duration: 8s ;
}

@keyframes listingAction1{
    from{
        opacity: 0;
        transform: translateY(25vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#EmploisDRC:hover > #listingAction > div > div:nth-child(2){
    animation: listingAction2;
    animation-duration: 6s ;
}

@keyframes listingAction2{
    from{
        opacity: 0;
        transform: translateY(15vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#EmploisDRC:hover > #listingAction > div > div:nth-child(3){
    animation: listingAction3 ;
    animation-duration: 3s ;
}

@keyframes listingAction3{
    from{
        opacity: 0;
        transform: translateY(10vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#EmploisDRC:hover > #listingAction > div > div:nth-child(4){
    animation: listingAction4; 
    animation-duration: .5s ;
}

@keyframes listingAction4{
    from{
        opacity: 0;
        transform: translateY(5vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

#listingAction > div > div > img{
    width: 18%;
    height: 18%;
    
}

#listingAction > div > div > h4 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #424345;
    margin-top: 3%;
    margin-bottom: 3%;
    

}


#listingAction > div > div > p {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    font-family: 'MontserratLight';
    color: #424345;
}















#KdaInMedias{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #111111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#KDAInMediasTitle{
    font-size: 2.48rem;
    font-weight: 700;
    line-height: 48px;
    color: #ffffff;
    font-family: 'Montserrat';
}

#KdaInMedias > ul {
    margin-top: 5%;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}