


main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section#devA{
    width: 100%;
    height: 110vh;
    background-color: #f2eff3;
    display: flex ;
    align-items: center;
    padding-bottom: 8%;
}

#devAImages, #devAB{
    width: 50%;
    height: 70%;
}

#devAImages{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 83%;
    height: 80%;
}

#bigImage1{
    position: absolute;
    left: -9%;
    top: 15%;
    width: 50%;
    height: 65%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#smallImage1{
    position: absolute;
    left: 32.3%;
    top: 69%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 42%;
    border-radius: 16px;
}

article#devAB{
    
    height: 80%;
    margin-top: 3.5%;
    margin-left: -34%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    position: relative;
}

article#devAB > h3{
    position: absolute;
    left: -10.5%;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #424345;
}

#technoUsedIn{
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    margin-top: 32%;
}

#technoLeft{
    width: 175%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#technoRight{
    width: 175%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#technoLeft > div, #technoRight > div {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#technoLeft > div > img, #technoRight > div > img{
    width: 30%;
    height: 35%;
    position: relative;
    border-bottom: 2px solid #fc0658;
    padding-bottom: 10%;
}



#technoLeft > div > h4, #technoRight > div > h4{
    width: 180%;
    height: 25%;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #424345;
}












section#slideA{
    width: 100%;
    height: 80vh;
    background-color: #e21e59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#parteners{
    width: auto;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 700;
    line-height: 48px;
}

#partenersSliding{
    width: 88%;
    margin-top: 5%;
    height: 14%;
   overflow: hidden;
}

#partenersSliding  > figure {
    
    position: relative;
    width: 300%;
    height: 100%;
    display: inline-block;
    animation: slideNumero1 50s infinite ;
}


#partenersSliding  > #containSlides  >img{
    float: left;
    margin-right: 4.5%;
    
    
}

#eyImage{
    width:139px ;
    height: 80px;
}

#gsma{
    width: 152px;
    height: 80px;
}

#digitalA{
    width: 160px;
    height: 76px;
}

#embassade{
    width: 160px;
    height: 75px;
}

#ministereSante{
    width:160px ;
    height: 80px;
}

#texaf{
    width: 72px;
    height: 80px;
}

#twbImage{
    width: 139px;
    height: 80px;
}

#banqueM{
    width: 155px;
    height: 32px;
}

#theEcom{
    width: 160px;
    height: 49px;
}

#facebook{
    width: 155px;
    height: 32px;
}

#orange{
    width: 80px;
    height: 80px;
}

#deloitte{
    width: 160px;
    height: 30px;
}





@keyframes slideNumero1{
    0% {
        left: 0;
    }
    8.33%{
        left: 0;
    }

    8.33%{
        left: 0%;
    }

    9%{
        left: 0%;
    }

    10%{
        left: -24%;
    }

    18.33%{
        left: -24%;
    }

    18.33%{
        left: -24%;
    }

    19%{
        left: -24%;
    }

    20%{
        left: -47%;
    }

    28.33%{
        left: -47%;
    }

    28.33%{
        left: -47%;
    }

    29%{
        left: -47%;
    }

    30%{
        left: -70%;
    }

    38.33%{
        left: -70%;
    }

    38.33%{
        left: -70%;
    }

    39%{
        left: -70%;
    }

    40%{
        left: -95%;
    }

    48.33%{
        left: -95%;
    }

    48.33%{
        left: -95%;
    }

       49%{
     left:   -95%
    }

   

    50% {
        left: -120%;
    }
    58.33%{
        left: -120%;
    }

    58.33%{
        left: -120%;
    }

    59%{
        left: -120%;
    }

    60%{
        left: -144%;
    }

    68.33%{
        left: -144%;
    }

    68.33%{
        left: -144%;
    }

    69%{
        left: -144%;
    }

   

    
}